body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke ;
    color: black;
}
.mydark{
  
    background-color:black;
    color:white !important ;
}



a{ 
text-decoration: none !important;
color: black !important;
}
header{
    height: 150px;
    position:fixed;

}

.nav-wrapper{
    height: 150pxpx;
    width: 100%;
    margin-bottom: 2%;
    /* border: 2px solid black; */

}

  
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 350px;
  }

.first-section{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color:white !important;
    border:1px solid lightgray;

}
.search-wrapper{
    width: 90%;
    /* border: 2px solid red; */
    /* display: flex; */
}
    /* input{
        border-bottom: 3px solid blue ;
    } */
.form-control{
    width: 80%;
} 
.icon{
    font-size: 28px;
    color: rgb(100, 98, 98);
}
.brand-logo{
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* border: 2px solid blue; */
}
.brand-logo img{
    background-color: white !important;
    vertical-align: middle;
    height: 60px;
    width: 100%;
}
.img-brand-container{
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn{
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 3;
    /* background-color: white; */
    /* border: 2px solid green; */
}
.icon-wrapper ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    

}
.icon-wrapper ul li{
    width: 100%;
    margin: 10px;
}

.icon-wrapper ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685) !important;
    font-size: 30px;
    
}

/* header second part */

.second-section{
     display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px solid lightgray;
}
.second-section a{
    text-decoration: none;
    color: black !important;
    font-size: 19px;
    font-weight: 500;
    padding: .5rem;
    
}
.SHOP-CATEGORIES{
    display: flex;
    flex-wrap: wrap
}
.menu-categories{
    display: none;
}



.nav-2{
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#cupon{
    height: 300px;
    width: 600px;
    border: 2px groove darkgray;
    background-color:white;
    position: absolute;
    margin-left: 50%;
    margin-top: 45%;
    z-index: 100;
    visibility: hidden;
}
.heading-cupon{
    width: 100%;
}
.header-cupon{
    margin-left: 50%;
    width: fit-content;
    text-align: center;
}
.close-cupon{
    display: inline !important;
    width: auto;
    margin-left: 93%;
    margin-top: 0%;
    padding: 0;
    /* border: 2px solid yellow !important; */
}
.copan-pera-div{
    width: fit-content;
    border: 2px solid darkgray;
    padding: 1rem;
    border-radius: 10px;
}
.slideImage{
    margin-top: 190px;
}
.new-arrival{
    margin: 3%;
}

.FEATURED-class{

    height:auto;
    width: 100%;
    border: 2px solid rgba(241, 23, 125, 0.274);
    border-radius: 10px;
    padding-bottom:3%;
    margin-bottom: 2%;


}
.feature{
    display: block;
    height: 50px;
    width: 100%;
    /* border: 2px solid red;  */

    padding-top:2% ;
}
.product-wrapper{
    display: block;
    height: 400px;
    width: 100%;

    margin-top: 1%;
    margin-bottom: 1%;
    /* border: 2px solid yellowgreen; 
     padding: 10%; */
  
}
.product-items{
    
   height: 250px;
   width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 3%; */
}
.item-list ul{
 
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    list-style-type: none;
    padding-inline-start: 0px;
    transform: translate3d(0px, 0px, 0px);
}
.item-list ul li{
    display: flex;
    height: 100%;
    width: 220px;
    margin-right: 40px;
    position: relative;
}



.item-detail{
    display: inline-block ;
    
}
.item-detail a {
    display: block;
    height: 135px;
    width: 135px
}
.item-detail a img{
    height: auto;
    width: 100%;
}
.middle-wrapper{
  height: 300px;
    width: 100%;
    position: relative;
    margin-top: 2%;
    border: 2px solid lightgrey;
    border-radius: 15px;
}
.banner-container{
    height: 300px;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 2px solid blue; */

    
}
.banner-slider {
display: block !important;
height: 100%;
width: 100%;
position: absolute;
}

.banner-slider img{
    height: 100%;
    width: 100%;
}

.influencer-fav{


    height: 650px;
    width: 100%;
    /* border: 2px solid black; */
}
.influencer{
    padding: 1%;
    /* border: 2px solid green; */
}

.middle2-wrapper{
    height: 300px;
      width: 100%;
      position: relative;
      margin-top: 2%;
      border: 2px solid lightgrey;
      border-radius: 15px;
      margin-bottom: 1%;
      margin-top: 2%;
  }

  .banner2-container{
    height: 300px;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 2px solid blue; */


  }
  .last-banner{
    height: 400px;
    width: 100%;
    position: relative;
    border: 2px solid lightgrey;
    border-radius: 10px;

  }
  .shop-now{
    height: 100%;
    width: 100%;
    display: block;
    padding: 1%;
    position: absolute;
    margin-top:3% ;
  }
  .services-wrapper{
    height: 400px;
    width: 100%;
    position: relative;
    border: 2px solid lightgrey;
    border-radius: 10px;
  }
  .services{
    height: 100%;
    width: 100%;
    display: block;
    padding: 1%;
    position: absolute;
    margin-top: 3%;
  }

  
.warning-wrapper{
    height: 250px;
    width: 100%;
    position: relative;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

.warning-msg {
    height: 100%;
    width: 100%;
    display: block;
    padding: 1%;
    position: absolute;
    margin-top: 3%;
}
.assistance-wrapper{
    height: 250px;
    width: 100%;
    position: relative;
    border: 2px solid rgb(172, 163, 163);
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.assistance-container{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 2%;
    margin-top: 2%;
}


/* .spotlight{
  
  height: 300px;
  width: 100%;

    border-radius: 10px;
    position: absolute;
    padding: 1%;
} */
.container-meta-links{
    /* height: 500px; */
    width: 100%;
    display: block;
    margin: 2%;
    background-color: lightgrey;
    padding-top: 2%;
    padding-bottom: 2% !important;
    border-radius: 10px;

}
.wrapper-links{
    height: 100%;
    width: 100%;
    display: block;
    
    margin-left: 3%;
    margin-right: 3%;
}
.card-box{
     margin-top:1%;
     margin-left: 15px;
     margin-right: 15px;


    /* border: 2px solid red; */
    width: 100%;
}
.head{
    /* border: 2px solid black; */
    text-align: center;
    /* margin: 1%; */
    font-size: 1.1rem;

}
.head a{
    color: gray !important;
}
.links{
    width: 80%;
    /* border: 2px solid green; */
}
.links ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    
}

.links ul li a{
    color: gray !important;
    font-size: 14px;
    
}
.wrapper-grp-link{
    
    width: 80%;
    margin: 10% ;
    border: 2px solid lightgray;
    padding: 2%;
    justify-content: center;
    border-radius: 15px;
}
.social-links{
    height: 80px;
    align-items: center;
    width: 100%;
}

.carousel-control-next-icon{
    font-size: 90px;
    color: black;
}